[Desktop Entry]
Encoding=UTF-8
Name=Link to regex_practice.txt
Type=Link
URL=https://sreeshanath.github.io/lab-instructions/lab3_git_scripting/regex_practice.txt
Icon=text-plain
